.header {
	background: var(--bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: var(--border);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	.logo img {
		height: 6rem;
	}
	.navbar {
		&.active {
			right: 0;
		}
		a {
			margin: 0 1rem;
			font-size: 1.6rem;
			color: #fff;
			&:hover {
				color: var(--main-color);
				border-bottom: 0.1rem solid var(--main-color);
				padding-bottom: 0.5rem;
			}
		}
	}
	.icons div {
		color: #fff;
		cursor: pointer;
		font-size: 2.5rem;
		margin-left: 2rem;
		&:hover {
			color: var(--main-color);
		}
	}
	#menu-btn {
		display: none;
	}
	.search-form {
		position: absolute;
		top: 115%;
		right: 7%;
		background: #fff;
		width: 50rem;
		height: 5rem;
		display: flex;
		align-items: center;
		transform: scaleY(0);
		transform-origin: top;
		&.active {
			transform: scaleY(1);
		}
		input {
			height: 100%;
			width: 100%;
			font-size: 1.6rem;
			color: var(--black);
			padding: 1rem;
			text-transform: none;
		}
		label {
			cursor: pointer;
			font-size: 2.2rem;
			margin-right: 1.5rem;
			color: var(--black);
			&:hover {
				color: var(--main-color);
			}
		}
	}
	.cart {
		&-items {
			&-container.active {
				right: 0;
			}
			&-container {
				position: absolute;
				top: 100%;
				right: -100%;
				height: calc(100vh - 9.5rem);
				width: 35rem;
				background: #fff;
				padding: 0 1.5rem;
				.cart-item {
					position: relative;
					margin: 2rem 0;
					display: flex;
					align-items: center;
					gap: 1.5rem;
					.fa-times {
						position: absolute;
						top: 1rem;
						right: 1rem;
						font-size: 2rem;
						cursor: pointer;
						color: var(--black);
						&:hover {
							color: var(--main-color);
						}
					}
					img {
						height: 7rem;
					}
					.content h3 {
						font-size: 2rem;
						color: var(--black);
						padding-bottom: 0.5rem;
					}
					.content .price {
						font-size: 1.5rem;
						color: var(--main-color);
					}
				}
				.btn {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.header {
		padding: 1.5rem 2rem;
	}
}

@media (max-width: 768px) {
	#menu-btn {
		display: inline-block;
	}
	.header {
		.navbar {
			position: absolute;
			top: 100%;
			right: -100%;
			background: #fff;
			width: 30rem;
			height: calc(100vh - 9.5rem);
			&.active {
				right: 0;
			}
			a {
				color: var(--black);
				display: block;
				margin: 1.5rem;
				padding: 0.5rem;
				font-size: 2rem;
			}
		}
		.search-form {
			width: 90%;
			right: 2rem;
		}
	}
}
